<div class="container-fluid">
<div class="row">
<div class="col-lg-12 text-center">
 <%= form_tag(root_url, method: "get") do %>
  <%= label_tag(:search, "Put in a location:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
</div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Start your journey...</h1>
    </div>
  </div>
  <div class="row">
    <script>
      var markers = []; //will contain list of coordinates
      var titles = [];  //will contain list of text for bubble popup
    </script>
    <!-- shows the pics on the main page, and puts the creates the array of markers with lat and lon so we can put it on the map-->
    <% @guides.each do |guide| %>
      <div class="trail-pic col-md-12 text-center">
        <%= link_to image_tag(guide['pic_url']),new_trail_path(url: guide['url'], title: guide['title'], lat: guide['lat'],lon: guide['lon'] ), class:"caption" %>
        <p>
           <%=link_to guide['title'],new_trail_path(url: guide['url'], title: guide['title'], lat: guide['lat'],lon: guide['lon'] ), class:"caption"  %></p> 
       </div>
       <script>
         titles.push("<%= guide['title'] %>");
         markers.push([<%=guide['lat']%>,<%=guide['lon']%>]);
       </script>
    <% end %>
  </div>
  <div id="map" style="height:600px"></div>
</div>        <!-- /.container -->
<!--take the markers array and "L" is a leaflet object and put the title(js variable) on the marker. bindPopup is a leaflet method   -->
    <script>
    var map = L.map('map').setView([<%=@coords[:lat]%>, <%=@coords[:lon]%>], 11);
    map.scrollWheelZoom.disable();
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'OpenStreetMap',
      maxZoom: 18
    }).addTo(map);
    for (var i = 0; i < markers.length; i++) {
        var marker = L.marker(markers[i]).addTo(map);
        marker.bindPopup(titles[i]);
    }
    </script>


    
   