<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<h3> My favorite trails or guides </h3>
<% @user.trail_users.each do |trail_user| %>
  <p>
    <%= link_to trail_user.trail.name, trail_user.trail %>,
    Rating: <%= trail_user.rating %>,
    Comment: <%= trail_user.comment %>

  </p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_url %>
