<div class="container">
<p id="notice"><%= notice %></p>

<div id="title">
<h1>
  <a href="http://www.everytrail.com/guide/<%= @trail.url %>">
  <%= @trail.name %></a>
</h1>
</div>

<div id="subtitle">
<h2>
  <%= @guide['subtitle']%>
</h2>
</div>

<p>
  <%= image_tag @guide['pic_url'], :style => "max-width:80%;margin-left:10%; max-height:400px;" %>
</p>
<blockquote>
<p>
<%= @guide['overview']%>
</p>
</blockquote>

<input id="trail_lat" type="hidden" value="<%=@trail.lat%>">
<input id="trail_lon" type="hidden" value="<%=@trail.lon%>">
<input id="user_lat" type="hidden" value="<%=@user_coords[:lat]%>">
<input id="user_lon" type="hidden" value="<%=@user_coords[:lon]%>">

<%= link_to 'Edit', edit_trail_path(@trail) %> |
<%= link_to 'Back', root_url %>

</div>