<div class="container">
<p id="notice"><%= notice %></p>

<div id="title">
<h1>
  <a href="http://www.everytrail.com/guide/<%= @trail.url %>">
  <%= @trail.name %></a>
</h1>
<% if @error_msg %>
        <h2> <%=@error_msg%></h2>
<% end %>
</div>

<%= link_to "<span class='glyphicon glyphicon-heart' aria-hidden='true'></span>".html_safe + "Favorite", new_trail_user_path(:trail_id => @trail.id) %>
<div id="subtitle">
<h2>
  <%= @guide['subtitle']%>
</h2>
</div>

<p>
  <%= image_tag @guide['pic_url'], :style => "max-width:80%;margin-left:10%; max-height:400px;" %>
</p>
<blockquote>
<p>
<%= @guide['overview']%>
</p>
</blockquote>
<h3>Users that have favorited this trail or guide</h3>
<% @trail.trail_users.each do |trail_user| %>
  <p>
    <%= link_to trail_user.user.name, trail_user.user %>,
    Rating: <%= trail_user.rating %>, 
    Comment: <%= trail_user.comment %>
  </p>
<% end %>

</div>