 <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trails</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag "bootstrap.min.css", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true%>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> 

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <%= csrf_meta_tags %>
<!-- LEAFLETjs API  -->
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <%= javascript_include_tag "application" %> 
    <!-- Bootstrap Core JavaScript -->
  <%= javascript_include_tag "bootstrap.min.js" %>
</head>
<body>
 
<nav class= "navbar navbar-inverse">
   
    <div>
      <%= link_to 'Wanderlust', root_url, :class=>"logo" %>
   
     <ul class="nav navbar-nav navbar-right">
        <% if not_logged_in? %>
        <li>
          <div class ="navbar-form">
            <%=form_tag "/login" do %>
            <%= label_tag :email%>
            <%= text_field_tag :email, params[:email] %>
            
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
           <%end%>
          </div>
        </li>
        <%else%>
          <li><a href="#">Hello, <%= current_user.name%></a>
          </li>
          <li>
            <%= link_to "Logout", logout_path, method: :delete%>
          </li>
        <%end%>
            <li>
            <%=link_to "Create account", "/users/new" %>
            </li>
        </div>
        </ul>
    </div>
    </nav>
  
<%= yield %>
  <hr />
 
<!-- Site footer -->
 
<div class="panel-footer">
 
  <p>&copy; Min McKnight| General Assembly | Washington,D.C.</p>
 
</div>
</body>
</html>
